<script>
export default {
  props: {
    collapsible: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
  },
  data() {
    return { visible: true };
  },
};
</script>
<template>
  <div class="card">
    <div
      class="button button-outline card-toggle"
      v-if="collapsible"
      @click="visible = !visible"
    >
      {{ visible ? '\u25BC' : '\u25b2' }}
    </div>
    <strong v-if="title">{{ title }}</strong>
    <div v-show="visible"><slot /></div>
  </div>
</template>
<style>
.card {
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
}

.card-toggle {
  cursor: pointer;
  position: absolute;
  font-size: 18px;
  right: 2rem;
  top: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  text-align: center;
  user-select: none;
}

h2 small {
  font-size: 60%;
}

figcaption {
  font-size: 80%;
  text-align: right;
  margin-top: 0.5rem;
  line-height: 1.25;
}

figure pre {
  margin: 0;
  padding-left: 1rem;
}
</style>
