<template>
  <div class="control-wrapper">
    <div class="row">
      <div class="column language-picker">
        <Card>
          <strong>Datasets</strong><br />
          <div v-for="(value, index) in descriptions" :key="value.key">
            <template
              v-if="
                value.source !==
                  (descriptions[index - 1] && descriptions[index - 1].source)
              "
            >
              <em>{{ value.source }}</em> <br />
            </template>
            <input type="radio" :value="value.key" v-model="currentType" />
            {{ value.title }}
          </div>
        </Card>
        <Card title="Languages" collapsible v-if="source === 'GitLab'">
          <div v-for="(value, language) in languages" :key="language">
            <input
              type="checkbox"
              :value="language"
              v-model="chosenLanguages"
            />
            {{ value.title || language }}
          </div>
          <button
            class="button button-outline"
            data-group="all"
            @click="setLanguageGroup"
          >
            All
          </button>
          <button
            class="button button-outline"
            data-group="backend"
            @click="setLanguageGroup"
          >
            Backend
          </button>
          <button
            class="button button-outline"
            data-group="frontend"
            @click="setLanguageGroup"
          >
            Frontend
          </button>
          <button
            class="button button-outline"
            data-group="none"
            @click="setLanguageGroup"
          >
            None
          </button>
        </Card>
        <Card>
          <strong>Events</strong>
          <div v-for="(value, type) in events" :key="type">
            <input type="checkbox" :value="type" v-model="chosenEvents" />
            {{ value.title }}
          </div>
        </Card>
        <Card>
          <strong>Chart Options</strong>
          <div>
            <input type="checkbox" value="title" v-model="chartOptions" /> Chart
            Title
          </div>
          <div>
            <input type="checkbox" value="legend" v-model="chartOptions" />
            Chart Legend
          </div>
          <slot name="download" />
        </Card>
      </div>
      <div class="column">
        <Card>
          <h1>GitLab History</h1>
          <div class="hover" v-if="chosenLanguages.length === 0">
            <Card> Please select at least one language</Card>
          </div>
          <slot name="graph" />
          <div class="slider-wrapper">
            <vue-slider
              ref="slider"
              v-model="dateRange"
              :data="releases"
              :tooltipStyle="{ backgroundColor: '#666', borderColor: '#666' }"
              :tooltipDir="['left', 'right']"
            />
          </div>
          <div class="button-wrapper">
            <button class="button button-outline" @click="setFirstRelease">
              All time
            </button>
            <button
              class="button button-outline"
              data-month="36"
              @click="setFirstRelease"
            >
              Last 3 years
            </button>
            <button
              class="button button-outline"
              data-month="18"
              @click="setFirstRelease"
            >
              Last 18 months
            </button>
            <button
              class="button button-outline"
              data-month="12"
              @click="setFirstRelease"
            >
              Last 12 months
            </button>
            <button
              class="button button-outline"
              data-month="6"
              @click="setFirstRelease"
            >
              Last 6 months
            </button>
          </div>
          <hr />
          <Events v-if="chosenEvents.length" :types="chosenEvents" />
          <HandbookMethodology v-if="source === 'Handbook'" />
          <CLOCMethodology v-else />
        </Card>
      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash';
import Card from './Card';
import Events from './Events';
import { languages, datasets, events } from '@/assets/descriptions';
import CLOCMethodology from '@/components/MethodologyCLOC';
import HandbookMethodology from '@/components/MethodologyHandbook';
import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'
import 'vue-slider-component/dist-css/vue-slider-component.css'

// import theme
import 'vue-slider-component/theme/default.css'

const persistURL = params => {
  if (window.location.href) {
    const URLParams = new URLSearchParams(params);
    const pageUrl =
      window.location.href.replace(/\?.+?$/, '') + '?' + URLParams.toString();
    window.history.pushState('', '', pageUrl);
  }
};

export default {
  components: {
    VueSlider,
    CLOCMethodology,
    HandbookMethodology,
    Card,
    Events,
  },
  name: 'Controls',
  mounted() {
    const params = new URLSearchParams(window.location.search);

    const page = params.get('page');

    if (page && Object.keys(datasets).includes(page)) {
      this.currentType = page;
    }
  },
  data() {
    const releases = Object.values(this.dataset.releases);
    const descriptions = Object.entries(datasets).map(([key, value]) => {
      return { ...value, key };
    });

    return {
      descriptions,
      languages,
      events,
      source: descriptions[0].source,
      chartOptions: ['title'],
      chosenEvents: [],
      currentType: Object.keys(datasets)[0],
      chosenLanguages: Object.keys(languages),
      releases,
      dateRange: [_.head(releases), _.last(releases)],
    };
  },
  watch: {
    currentType() {
      this.updateControls();
    },
    chosenLanguages() {
      this.updateControls();
    },
    dateRange() {
      this.updateControls();
    },
    chosenEvents() {
      this.updateControls();
    },
    chartOptions() {
      this.updateControls();
    },
  },
  props: {
    dataset: {
      type: Object,
    },
  },
  methods: {
    setFirstRelease(event) {
      const month = event.target.dataset.month;
      const last = this.releases.length - 1;
      const first = month ? last - month : 0;

      this.dateRange = [this.releases[first], this.releases[last]];
    },
    setLanguageGroup(event) {
      const group = event.target.dataset.group;
      switch (group) {
        case 'none':
          this.chosenLanguages = [];
          break;
        case 'all':
          this.chosenLanguages = Object.keys(languages);
          break;
        default:
          this.chosenLanguages = Object.entries(languages)
            .filter(([key, language]) => {
              const { groups = [] } = language;
              return groups.includes(group);
            })
            .map(([key]) => key);
      }
    },
    updateControls() {
      const { chosenLanguages, chosenEvents, currentType, chartOptions } = this;

      persistURL({
        page: currentType,
      });

      if (chosenLanguages.length === 0) {
        return;
      }

      const source = datasets[currentType].source;

      if (this.source !== source) {
        if (source === 'Handbook') {
          this.releases = Object.values(this.dataset.releases).slice(44);
        } else {
          this.releases = Object.values(this.dataset.releases);
        }
        this.dateRange = [_.head(this.releases), _.last(this.releases)];
      }

      this.source = source;

      this.$emit('updateControls', {
        visibleLanguages: _.intersection(
          Object.keys(this.languages),
          chosenLanguages
        ),
        source,
        chosenEvents,
        currentType,
        chartOptions,
        descriptions: datasets[currentType],
        startDate: this.dataset.dateByTag[this.dateRange[0]],
        endDate: this.dataset.dateByTag[this.dateRange[1]],
        startTag: this.dateRange[0],
        endTag: this.dateRange[1],
      });
    },
  },
};
</script>
<style scoped>
.control-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 240rem;
  position: relative;
}

.row {
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;
}

.language-picker {
  width: 280px;
  flex-shrink: 0;
}

.hover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0.5, 0.5, 0.5, 0.5);
  z-index: 500;
}

.hover .card {
  width: 50%;
}

.slider-wrapper {
  padding: 1rem 6rem !important;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}
</style>
