<template>
  <div>
    <strong>Events</strong>
    <ul>
      <li v-for="event in visibleEvents" :key="`${event.date}${event.title}`">
        <span class="event-icon">{{ event.icon }}</span>
        <a v-if="event.link" :href="event.link" target="_blank">
          {{ event.title }}
        </a>
        <span v-else> {{ event.title }} </span>
      </li>
    </ul>
    <hr />
  </div>
</template>
<script>
import events from '@/assets/events';

export default {
  props: {
    types: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    visibleEvents() {
      return events.filter(e => this.types.includes(e.type));
    },
  },
};
</script>
<style scoped>
ul {
  columns: 2;
  list-style: none;
}

li {
  line-height: 26px;
}

.event-icon {
  /*font-family: "sans-serif";*/
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 6px;
  border-radius: 6px;
}
</style>
