<template>
  <div class="canvas-wrapper">
    <Controls :dataset="dataset" @updateControls="updateChart">
      <canvas ref="canvas" slot="graph" />
      <div slot="download">
        <a
          v-if="imageData"
          download="gitlab-history.png"
          :href="imageData"
          class="button button-outline"
          slot="download"
        >
          Download
        </a>
        <button v-else class="button button-outline" disabled="true">
          Generate image
        </button>
      </div>
    </Controls>
  </div>
</template>
<script>
import _ from 'lodash';
import Chart from 'chart.js';
import chartAnnotation from 'chartjs-plugin-annotation';
import getChartConfig, {
  convertToDataset,
  convertToAnnotations,
} from '@/assets/chartConfig';
import dataset from '@/assets/results.json';
import events from '@/assets/events';
import Controls from '@/components/Controls';

export default {
  name: 'Graph',
  components: {
    Controls,
  },
  data() {
    return {
      dataset,
      imageData: false,
    };
  },
  mounted() {
    const ctx = this.$refs.canvas.getContext('2d');
    this.chart = new Chart(ctx, {
      plugins: [chartAnnotation],
      ...getChartConfig(dataset, 'loc'),
    });
  },
  methods: {
    updateChart(options) {
      const {
        visibleLanguages,
        currentType,
        descriptions,
        startDate,
        endDate,
        chosenEvents,
        chartOptions,
        startTag,
        endTag,
        source,
      } = options;

      const stacked =
        currentType.includes('Percentage') ||
        currentType.includes('Absolute') ||
        currentType.includes('wordCount');

      const series =
        source === 'Handbook'
          ? dataset.Handbook
          : _.pick(dataset.series, visibleLanguages);

      this.chart.data.datasets = convertToDataset(
        series,
        dataset,
        currentType,
        stacked,
        [startDate, endDate],
        descriptions.formatLabel
      );

      this.chart.options.title.text = [
        'GitLab History',
        descriptions.description,
        `From ${startTag} to ${endTag}`,
      ];

      this.chart.options.title.display = chartOptions.includes('title');
      this.chart.options.legend.display = chartOptions.includes('legend');

      if (currentType.includes('Percentage')) {
        _.set(
          this,
          'chart.options.scales.yAxes[0].ticks.max',
          visibleLanguages.includes('Ruby') ? 100 : undefined
        );
      } else if (currentType.includes('Growth')) {
        _.set(
          this,
          'chart.options.scales.yAxes[0].ticks.max',
          visibleLanguages.includes('JavaScript') ||
            visibleLanguages.includes('JavaScript_spec')
            ? 400
            : undefined
        );
      } else {
        _.set(this, 'chart.options.scales.yAxes[0].ticks.max', undefined);
      }

      this.chart.options.annotation.annotations = convertToAnnotations(
        events,
        chosenEvents
      );

      _.set(this, 'chart.options.scales.yAxes[0].stacked', stacked);
      _.set(
        this,
        'chart.options.scales.yAxes[0].scaleLabel.labelString',
        descriptions.title
      );

      _.set(this, 'chart.options.scales.xAxes[0].time.min', startDate);
      _.set(this, 'chart.options.scales.xAxes[0].time.max', endDate);

      this.chart.update(500);
      this.imageData = false;
      setTimeout(() => {
        this.imageData = this.chart.toBase64Image();
      }, 500);
    },
  },
};
</script>
<style scoped>
.canvas-wrapper {
  position: relative;
}
</style>
