<template>
  <div>
    <strong>Methodology</strong>
    <p>
      This analysis was built
      {{ buildAgo }} and the source can be found
      <a :href="repoUrl" target="_blank">here</a>. <br />
      This analysis is a bit more sophisticated than a simple:
    </p>
    <pre>  find source/handbook -type f | xargs wc -w</pre>
    <p>
      The problem with the simple code above, it also counts inline styles,
      Markdown headlines (e.g. <code>###</code> as words) and other tokens as
      words. Thus, we do a bit more of a sophisticated analysis:
    </p>
    <ol>
      <li>
        Convert all markdown pages to HTML with
        <a href="https://github.com/markdown-it/markdown-it">markdown-it</a>
      </li>
      <li>
        Extract the pure text with
        <a href="https://github.com/werk85/node-html-to-text">HTML-to-text</a>
      </li>
      <li>
        Count the words with the help of
        <a href="https://github.com/jonschlinkert/wordcount">wordcount</a>
      </li>
    </ol>
    The counts are also aggregated per top-level directory and only the top
    dozen directories are shown in the chart, the rest is grouped in
    <em>other</em>.
  </div>
</template>
<script>
import moment from 'moment';
import { buildDate, repoUrl } from '@/assets/data.json';

export default {
  name: 'Methodology',
  computed: {
    buildAgo() {
      return moment(buildDate * 1000).fromNow();
    },
    repoUrl() {
      return repoUrl;
    },
  },
};
</script>
