<template>
  <div>
    <strong>Methodology</strong>
    <p>
      This analysis is powered by
      <a href="https://github.com/AlDanial/cloc/">cloc</a>. It was built
      {{ buildAgo }} and the source can be found
      <a :href="repoUrl" target="_blank">here</a>. <br />
      The data is extracted by iterating over tags of GitLab and pulling in
      data from related projects. <br />
      The following projects are analyzed:
    </p>
    <ul>
      <li><a href="https://gitlab.com/gitlab-org/gitlab">GitLab</a></li>
      <li>
        <a href="https://gitlab.com/gitlab-org/gitlab-pages">GitLab Pages</a>
      </li>
      <li>
        <a href="https://gitlab.com/gitlab-org/gitlab-workhorse"
          >GitLab Workhorse</a
        >
      </li>
      <li>
        <a href="https://gitlab.com/gitlab-org/gitlab-shell">GitLab Shell</a>
      </li>
      <li><a href="https://gitlab.com/gitlab-org/gitaly">Gitaly</a></li>
      <li>
        <a href="https://gitlab.com/gitlab-org/gitlab-svgs">GitLab SVGs</a>
      </li>
      <li><a href="https://gitlab.com/gitlab-org/gitlab-ui">GitLab UI</a></li>
      <li><a href="https://gitlab.com/gitlab-org/csslab">csslab</a></li>
    </ul>
  </div>
</template>
<script>
import moment from 'moment';
import { buildDate, repoUrl } from '@/assets/data.json';

export default {
  name: 'Methodology',
  computed: {
    buildAgo() {
      return moment(buildDate * 1000).fromNow();
    },
    repoUrl() {
      return repoUrl;
    },
  },
};
</script>
