<template>
  <div class="wrapper"><nuxt /></div>
</template>

<style>
html {
  background: rgba(0, 0, 0, 0.01);
}

body {
  width: 100%;
}

.wrapper {
  position: absolute;
  width: 100%;
}

.button {
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0 1.5rem;
  margin: 0.25rem;
}
</style>
